.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Messages-list {
    padding: 20px 0;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    list-style-type: none;
    flex-grow: 1;
    overflow: auto;
}

.Messages-message {
    display: flex;
    margin-top: 10px;
}

.Messages-message.currentMember {
    flex-direction: row-reverse;
    text-align: right;
}

.avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px -10px;
}

.username {
    color: gray;
    font-size: 15px;
    padding-bottom: 5px;
}

.text {
    padding: 10px;
    max-width: 300px;
    margin: 0;
    border-radius: 12px;
    background-color: cornflowerblue;
    color: white;
    display: inline-block;
    word-wrap: break-word;
}

.currentMember .text {
    background-color: orangered;
    text-align: left;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto 40px;
}

input {
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid orangered;
    flex-grow: 1
}

button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
}